.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
    color: white;

    &:hover {
      background-color: #333;
      color: white;
    }
  }

  &__span {
    color: white;
    font-size: 1.5rem;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__left > button {
    margin-left: 0.5rem;
  }
}

.content {
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;

  &__title {
    font-size: 2rem;
    color: white;

    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: white;
    padding: 5px 0 5px 0;

    &:focus {
      outline: none;
    }

    input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      font-size: 1.5rem;
      margin-left: 5px;
      color: black;

      &:focus {
        outline: none;
      }
    }
  }

  &__viewer {
    border-top: 1px #ebedf2 solid;
    padding-left: 30px;
    background: white;
  }

  &__editor {
    width: 100%;
    height: calc(100% - 4.5rem);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
  }

  .editor__header {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
  }

  .editor__button {
    border: none;
    background-color: #a6a6c8;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
  }

  .editor__content {
    flex: 1;
    height: 100%;
    position: relative;

    &.preview {
      .toastui-editor-defaultUI {
        display: none;
      }

      .preview__content {
        display: block;
      }
    }

    .preview__content {
      display: none;
    }
  }
}

:global {
  .toastui-editor-mode-switch {
    display: none !important;
  }
}
