.comment,
.hiddencomment {
  flex: 1;
  transition: all 0.3s ease-out;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 0.5rem;
  transform: translateX(0);
  overflow-y: auto;

  &__header {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 1.5rem;

    &__icon {
      margin-right: 10px;
    }

    &__text {
      font-size: 20px;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
  }

  &::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }
}

.hiddencomment {
  transform: translateX(100%);
  overflow-y: hidden;
  flex: 0;
}

.reply {
  border-radius: 10px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: 1px solid navy;
        background-color: navy;
        color: white;
        padding: 5px 10px;
        margin: 0 1rem 0 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 100%;
        font-size: 12px;
      }
    }
  }
}