.header {
  &__button {
    border: none;
    background-color: transparent;
    margin-left: 0.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__span {
    color: white;
    font-size: 2rem;
  }
}

.post {
  &__button {
    font-size: 1.5rem;
    color: white;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 0.3rem;

    &__content {
      padding: 2.5rem 2rem 0 2rem;
      display: flex;
      flex: 2;
      background-color: white;
      border-radius: 10px;

      &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__header {
          display: flex;
          flex-direction: row;

          &__text {
            display: flex;
            flex-direction: column;
            margin: 1rem;

            &__title {
              font-size: 1.7rem;
            }
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 0 0 auto;
          padding-right: 1rem;
          height: 1rem;
          width: 8rem;

          &__box {
            margin: 0 0 0.5rem 0;
            align-self: flex-end;

            &__button {
              padding: 5px 10px;
              font-size: 15px;
              border: none;
              border-radius: 4px;
              background-color: navy;
              color: white;
              cursor: pointer;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              transition: transform 0.2s ease;

              &:hover {
                transform: translateY(-2px);
              }

              &:active {
                transform: translateY(1px);
              }
            }
          }

          &__date {
            margin-right: 0;
            align-self: flex-end;
          }

          &__name {
            margin-right: 0;
            align-self: flex-end;
          }
        }

        &__content {
          &__span {
            font-size: 1rem;
            margin: 1rem;
          }
        }
      }
    }

    &__viewer {
      overflow-y: auto;
      position: relative;
      border-top: 1px #ebedf2 solid;
      padding: 5px 0 0 10px;
      background: white;
      margin: 0.5rem;
    }
  }
}