.button {
  border: none;
  background-color: white;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;

  &:hover {
    background-color: navy;
    color: white;
  }
}