.comment,
.hiddencomment {
  flex: 1;
  transition: all 0.3s ease-out;
  overflow-y: auto;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 0.5rem;
  transform: translateX(0);

  &__header {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 2rem;

    &__icon {
      margin-right: 10px;
    }

    &__text {
      font-size: 20px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 10px 15px;
      border: 2px solid #ccc;
      border-radius: 5px;
      width: 60%;
    }

    input:focus {
      border-color: #007BFF;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    input::placeholder {
      color: #888;
      font-style: italic;
    }

    &__icon {
      margin: 1rem;

      button {
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        overflow: hidden;
      }
    }
  }

  &__content {
    margin: 0 1.5rem 1rem 1.5rem;
    border-bottom: 1px #ebedf2 solid;

    &__nickname {
      margin: 0 0 0.5rem 0;

      &__text {
        font-size: 15px;
        font-weight: bold;
      }
    }

    &__box {
      margin-bottom: 0.5rem;

      &__text {
        font-size: 15px;
        font-weight: bold;
      }
    }

    &__time {
      margin: 0 0 0.5rem 0;

      &__text {
        font-size: 12px;
      }
    }

  }
}

.hiddencomment {
  transform: translateX(100%);
  flex: 0;
}
