.header {
  &__button {
    border: none;
    background-color: transparent;
    margin-left: 0.1rem;
    cursor: pointer;
  }

  &__span {
    color: white;
    font-size: 2rem;
  }
}

.post {
  &__button {
    font-size: 1.5rem;
    color: white;
  }

  &__content {
    padding: 0 1rem 0 1rem;
    display: flex;

    height: 90%;
    background-color: white;

    &__wapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__header {
        display: flex;
        flex-direction: row;

        &__text {
          display: flex;
          flex-direction: column;
          margin: 1%;

          &__nickname {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 1.8rem;
            margin-top: 3%;
            border-radius: 1rem;
            border: none;
            background-color: #a6a6c8;
          }

          &__title {
            font-size: 1.7rem;
          }
        }
      }

      &__dateTime {
        margin: 2.5% 0 0 auto;
        height: 1rem;
        width: 8rem;

        &__date {
          margin-right: 3%;
        }
      }

      &__content {
        &__span {
          font-size: 1rem;
          margin: 1%;
        }
      }
    }
  }

  &__viewer {
    overflow-y: auto;
    position: relative;
    border-top: 1px #ebedf2 solid;
    padding: 5px 0 0 10px;
    background: white;
  }
}
