.header {
  &__button {
    border: none;
    background-color: transparent;
    margin-left: 0.1rem;
    cursor: pointer;
  }

  &__span {
    color: white;
    font-size: 2rem;
  }
}

.post {
  &__button {
    font-size: 1.5rem;
    color: white;
  }

  &__text__wapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 2rem;
    color: white;
  }

  &__content {
    font-size: 1rem;
    color: white;
  }
}
