.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__subtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #2dbbb3;
    font : {
      weight: bold;
      size: 4.5rem;
    }
    margin: 1rem;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  &__button_wrapper {
    width: 17rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #ddddff;
    }
  }
}
