.content {
  display: flex;
  flex-direction: row;
  width: 42rem;
  height: 3rem;
  color: white;
  font-size: 1.4rem;
  border : {
    width: 0px 0px 1px 0px;
    style: solid;
    color: white;
  }
  margin: 1rem;

  &__datetime {
    margin: 0 0 0 auto;
  }

  &__time {
    margin-left: 0.7rem;
  }
}
